<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dap nhanh me len</title>
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/ask">Hỏi nè</a></li>
            <li><a href="/answer">Đáp nè</a></li>
        </ul>
    </nav>

    <div>
        <h1><%= questionContent %></h1>
        <button>Đúng/Có/Phải</button>
        <button>Sai/Không/Trái</button>
        <button>Xem câu hỏi khác</button>
        <button>Xem kết quả</button>
    </div>
    
    
</body>
</html>